<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <system.webServer>

        <rewrite>

            <rules>
                <rule name="rule 1n">

                	<match url="^(.+)?$"  />

                	<action type="Rewrite" url="//web/{R:1}"  />

                </rule>

            </rules>

        </rewrite>

    </system.webServer>

</configuration>